{% if site.footer_fixed %}
<footer class="fixed-bottom">
  <div class="container mt-0">
    <div class="mx-auto text-center font-weight-bold">
      {{ site.motto }}
    </div>

    <div class="mx-auto text-center">
      &copy; Copyright {{ site.time | date: '%Y' }} {{ site.author }}.
      {{ site.footer_text }}
      {% if site.last_updated %}
        Last updated on {{ "now" | date: '%Y/%m/%d' }}.
      {% endif %}
    </div>
  </div>
</footer>
{% else %}
<footer class="sticky-bottom mt-5">
  <div class="container">
    <div class="mx-auto text-center font-weight-bold">
      {{ site.motto }}
    </div>

    <div class="mx-auto text-center">
      &copy; Copyright {{ site.time | date: '%Y' }} {{ site.author }}.
      {{ site.footer_text }}
      {% if site.last_updated %}
        Last updated on {{ "now" | date: '%Y/%m/%d' }}.
      {% endif %}
    </div>
  </div>
</footer>
{% endif %}
