---
layout: default
---

<div class="post">

  <header class="post-header">
    {% assign name = site.title | split: ' ' %}
    {% assign firstname = name | first %}
    {% if name.size > 2 %}
       {% assign middlenames =  name | slice:1, name.size-1 | join:" " %}
    {% else %}
       {% assign middlenames = '' %}
    {% endif %}
    {% assign lastname = name | last %}
  </header>

  <article>
    <div class="row">
      <div class="col-12">
        {% if page.profile.image %}
          <img class="z-depth-1 rounded-circle w-25 float-right ml-2
            d-none d-md-block" 
            src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
        {% endif %}
        {{ content }}
      </div>

      <!--
      {% if page.profile %}
      <div class="profile col-md-4 d-none d-md-block
        {% if page.profile.align == 'left' %}order-first{% endif %}">
        <div class="contact mb-4">
          {% if page.social %}
            {% assign show_label = true %}
            {% include social.html %}
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
  -->

    {% if page.news %}
      {% include news.html %}
    {% endif %}
  </article>

</div>
