---
layout: default
---

<div class="post">

  <header class="post-header">
    {% assign name = site.author | split: ' ' %}
	{% assign chnname = site.author_other %}

    {% assign firstname = name | first %}
    {% if name.size > 2 %}
      {% assign middlenames =  name | slice:1, name.size-1 | join:" " %}
    {% else %}
      {% assign middlenames = '' %}
    {% endif %}
    {% assign lastname = name | last %}
	{% assign othername = site.author_other %}
  </header>

  <article>
    <div class="row">
    <div class="profile mb-4 col-12 d-block d-md-none">
      <div class="row">
      <div class="col-3">
        <img class="image-thumbnail z-depth-1 w-75 rounded-circle 
          d-block mx-auto"
          src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      </div>
      <div class="col-9 d-block my-auto">
        <span class="font-weight-bold">
          {{ page.profile.keywords | replace: " ", "&nbsp;" 
            | replace: ",&nbsp;", ", " }}
        </span>
      </div>
      </div>
    </div>
    <div class="profile col-md-3 d-none d-md-block">
      <img class="image-thumbnail z-depth-1 rounded-circle w-75 
        d-block mx-auto"
        src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      
        <div class="contact text-nowrap mt-4 d-block mx-auto">
          {% if page.social %}
            {% assign show_label = true %}
            {% include social.html %}
          {% endif %}
      </div>
    </div>

    <div class="col-md-9">
      <div class="d-none d-md-block">
        <h2 class="font-weight-normal title">
          <span class="font-weight-bolder">{{ firstname }}</span> {{ middlenames }}  {{ lastname }} {{ chnname }}
        </h2>
        <h6 class="font-weight-bold">
          {{ page.profile.keywords | replace: " ", "&nbsp;" 
            | replace: ",&nbsp;", ", " }}
        </h6>
        <hr>
      </div>

      {{ content }}

      {% if page.news %}
        <hr>
        {% include news.html %}
      {% endif %}
    </div>
  </div>
  </article>

</div>
