---
---

<li>
  <div id="{{entry.key}}">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <span class="author">
        {% for author in entry.author_array %}
          {% comment %}
            APA 7th edition reference-list author format: "Surname, F. M.",
            with any surname particle (van, von, der, ter, de, ...) kept
            attached to the surname, and each given/middle name reduced to
            an initial.
          {% endcomment %}
          {% assign apa_name = "" %}
          {% unless author.prefix == blank %}
            {% assign apa_name = author.prefix | append: " " %}
          {% endunless %}
          {% assign apa_name = apa_name | append: author.last | append: ", " %}
          {% assign given_words = author.first | remove: "{" | remove: "}" | strip | split: " " %}
          {% for word in given_words %}
            {% assign initial = word | slice: 0, 1 | upcase %}
            {% assign apa_name = apa_name | append: initial | append: "." %}
            {% unless forloop.last %}
              {% assign apa_name = apa_name | append: " " %}
            {% endunless %}
          {% endfor %}

          {% if forloop.length == 1 %}
            {% if author.last == site.scholar.last_name %}
              <em>{{ apa_name }}</em>
            {% else %}
              {{ apa_name }}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author.last == site.scholar.last_name %}
                <em>{{ apa_name }}</em>,
              {% else %}
                {{ apa_name }},
              {% endif %}
            {% else %}
              <!-- If the last author -->
              {% if author.last == site.scholar.last_name %}
                &#38; <em>{{ apa_name }}</em>
              {% else %}
                &#38; {{ apa_name }}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </span>
       
      <span class="year">
        {% if entry.year %}
          ({{entry.year}}).
        {% endif %}
      </span>
      
      <span class="title">{{entry.title}}.</span>

      <span class="periodical">
        {%- if entry.type == "article" -%}
          <em>{{entry.journal}}</em>
        {%- elsif entry.type == "inproceedings" -%}
          In <em>{{entry.booktitle}}</em>
        {%- endif -%}
        {%- if entry.volume -%}
          , <em>{{entry.volume}}</em>
        {%- endif -%}
        {%- if entry.pages -%}
          , {{entry.pages}}.
        {%- endif -%}
      </span>
    
      <span>
        {% if entry.doi %}
          <a href="https://doi.org/{{ entry.doi }}" target="_blank">doi:{{ entry.doi }}</a>
        {% endif %}
      </span>
    {% endif %}

    <span class="links">
      {% if entry.abstract %}
        [<a class="abstract">Abs</a>]
      {% endif %}
      {% if entry.arxiv %}
        [<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>]
      {% endif %}
      {% if entry.html %}
        [<a href="{{ entry.html }}" target="_blank">HTML</a>]
      {% endif %}
      {% if entry.pdf %}
        [<a href="{{ entry.pdf }}" target="_blank">pdf</a>]
      {% endif %}
      {% if entry.supp %}
        [<a href="{{ entry.supp | prepend: '/assets/pdf/' | relative_url }}" target="_blank">Supp</a>]
      {% endif %}
      {% if entry.poster %}
        [<a href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}" target="_blank">Poster</a>]
      {% endif %}
      {% if entry.slides %}
        [<a href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}" target="_blank">Slides</a>]
      {% endif %}
      {% if entry.code %}
        [<a href="{{ entry.code }}" target="_blank">Code</a>]
      {% endif %}
      {% if entry.demo %}
        [<a href="{{ entry.demo }}" target="_blank">demo</a>]
      {% endif %}
        <!-- [<a class="popover-bibtex" href="#" tabindex="0" data-toggle="popover" data-content="{{entry.bibtex}}">bibtex</a>] -->
    </span>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
      <span class="abstract hidden">
        <p>{{ entry.abstract }}</p>
      </span>
    {% endif %}
  </div>
</li>
