---
---

<li>
  <div id="{{entry.key}}">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <span class="author">
        {% for author in entry.author_array %}
          {% if forloop.length == 1 %}
            {% if author.last == site.scholar.last_name %}
              <em>{{author.last}}, {{author.first|strip|truncate: 2, '.')}}</em>
            {% else %}
              {{author.last}}, {{author.first|strip|truncate: 2, '.')}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author.last == site.scholar.last_name %}
                <em>{{author.last}}, {{author.first|strip|truncate: 2, '.')}}</em>,
              {% else %}
                {% if site.data.coauthors[author.last] %}
                  <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first|strip|truncate: 2, '.')}}</a>,
                {% else %}
                  {{author.last}}, {{author.first|strip|truncate: 2, '.')}},
                {% endif %}
              {% endif %}
            {% else %}
              <!-- If the last author -->
              {% if author.last == site.scholar.last_name %}
                &#38; <em>{{author.last}}, {{author.first|strip|truncate: 2, '.')}}</em>
              {% else %}
                {% if site.data.coauthors[author.last] %}
                  &#38; <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first|strip|truncate: 2, '.')}}</a>
                {% else %}
                  &#38; {{author.last}}, {{author.first|strip|truncate: 2, '.')}}
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </span>
       
      <span class="year">
        {% if entry.year %}
          ({{entry.year}}).
        {% endif %}
      </span>
      
      <span class="title">{{entry.title}}.</span>

      <span class="periodical">
        {% if entry.accepted == "true" %}
		   <em> (accepted) </em>
	    {% endif %}
	  
        {% if entry.type == "article" %}
          <em>{{entry.journal}}</em>
        {% elsif entry.type == "inproceedings" %}
          In <em>{{entry.booktitle}}</em>
        {% endif %}
 
        {% if entry.pages %}
          , {{entry.pages}}.
        {% endif %}
      </span>
    
      <span>
        {% if entry.doi %}
          <a href="https://doi.org/{{ entry.doi }}" target="_blank">doi:{{ entry.doi }}</a>
        {% endif %}
      </span>
    {% endif %}

    <span class="links">
      {% if entry.abstract %}
        [<a class="abstract">Abs</a>]
      {% endif %}
      {% if entry.arxiv %}
        [<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>]
      {% endif %}
      {% if entry.html %}
        [<a href="{{ entry.html }}" target="_blank">HTML</a>]
      {% endif %}
      {% if entry.pdf %}
        [<a href="{{ entry.pdf }}" target="_blank">pdf</a>]
      {% endif %}
      {% if entry.supp %}
        [<a href="{{ entry.supp | prepend: '/assets/pdf/' | relative_url }}" target="_blank">Supp</a>]
      {% endif %}
      {% if entry.poster %}
        [<a href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}" target="_blank">Poster</a>]
      {% endif %}
      {% if entry.slides %}
        [<a href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}" target="_blank">Slides</a>]
      {% endif %}
      {% if entry.code %}
        [<a href="{{ entry.code }}" target="_blank">Code</a>]
      {% endif %}
      {% if entry.demo %}
        [<a href="{{ entry.demo }}" target="_blank">demo</a>]
      {% endif %}
        [<a class="popover-bibtex" href="#" tabindex="0" data-toggle="popover" data-content="{{entry.bibtex}}">bibtex</a>]
    </span>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
      <span class="abstract hidden">
        <p>{{ entry.abstract }}</p>
      </span>
    {% endif %}
  </div>
</li>
