---
---

<div class="row ml-1">
  <div id="{{entry.key}}">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
	
    {% for author in entry.author_array %}
      {% if forloop.length == 1 %}
        {% if author.last == site.scholar.last_name %}
          {{author.first}} {{author.last}}
        {% else %}
          {{author.first}} {{author.last}}
        {% endif %}
      {% else %}
        {% unless forloop.last %}
          {% if author.last == site.scholar.last_name %}
            {{author.first}} {{author.last}},
          {% else %}
            {% if site.data.coauthors[author.last] %}
              <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>,
            {% else %}
              {{author.first}} {{author.last}},
            {% endif %}
          {% endif %}
        {% else %}
          {% if author.last == site.scholar.last_name %}
            and {{author.first}} {{author.last}}
          {% else %}
            {% if site.data.coauthors[author.last] %}
              and <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>
            {% else %}
              and {{author.first}} {{author.last}}
            {% endif %}
          {% endif %}
        {% endunless %}
      {% endif %}
    {% endfor %}

    {% if entry.year %}
    ({{entry.year}}).
    {% endif %}
    
    <i>{{entry.title}}</i>.
 
    {{entry.abbr}}
    
    {% if entry.accepted == "true" %}
      <em> (accepted) </em>
    {% endif %}
    
    {% endif %}

    <span class="links">
    {% if entry.doi or entry.pdf %}
    [
    {% endif %}
    {% if entry.doi %}
      <a href="https://doi.org/{{ entry.doi }}" target="_blank">doi</a>
    {% endif %}
    {% if entry.pdf %}
      | <a href="{{ entry.pdf }}" target="_blank">pdf</a>
    {% endif %}
    {% if entry.doi or entry.pdf %}
    ]
    {% endif %}
    </span>
    
  </div>
</div>
